.accounts{
    .content-body{
        .card{
            border-left: 5px solid red;
            .detail-page-link{
                color: #27acd9;
                float: right;
                cursor: pointer;
            }
        }
    }
    
}