.accounts{
    .content-body{
        .card{
            border-left: 5px solid red;
            .detail-page-link{
                color: #27acd9;
                float: right;
                cursor: pointer;
            }
        }
    }

}

.account-details{
    .banner{
        height: 400px;
        background: #fff;
        margin: 20px 0;
        .top-bg{
            background: #27acd9;
            height: 150px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-top: 60px;
        }
        .bottom-bg{
            width: 100%;
            height: 200px;
        }
        .menu-bar{
            height: 50px;
            padding: 0 50px;
            .item{
                display: inline-block;
                width: 120px;
                align-items: center;
                padding: 14px;
                text-align: center;
                cursor: pointer;
                &.active{
                 border-bottom:2px solid #27acd9;
                }
            }
        }
        .profile-wrapper, .rect-wrapper{
            width: 50%;
            float: left;
        }
        .profile{
            min-width: 150px;
            width: 50%;
            text-align: center;
            margin: auto;
            .img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background: aliceblue;
                display: block;
                margin: 15px auto;
            }
        }
        .rect{
            width: 80%;
            background: #fff;
            height: 282px;
            display: block;
            min-width: 150px;
            max-width: 300px;
            margin: auto;
        }
    }
    .box-wrapper{
        width: 50%;
        display: block;
        float: left;
        &.col-left{
            padding-right: 10px;
        }
        &.col-right{
            padding-left: 10px;
        }
        .box{
            background: #fff;
            padding: 0px 0px 20px 20px;
            margin: 15px 0;
            .page-title{
                display: flex;
                justify-content: space-between;
            }
            .edit{
                padding: 10px;
                cursor: pointer;
            }
            .data-display{
                margin: 30px 0;
                .data-label{
                    color: gray;
                    font-size: 0.8rem;
                }
                .text{
                    font-size: 1rem;

                }
            }
            .password-btn{
               button{
                background: #2fa695;
                color: #fff;
                padding:8px 20px;
                font-size: 1rem;
               }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .account-details{
        .box-wrapper{
            width: 100%;
            padding: 0px !important;
        }
        .banner{
            .profile-wrapper{
                width: 100%;
            }
            .rect-wrapper{
                display: none !important;
            }
        }
    }
}