.invoice{
    .range-wrapper{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        button{
            // background: gray;
            // border: 0;
            background: #fff;
            border: 2px solid gray;
            padding: 10px 15px;
            font-size: 1rem; 
            border-radius: 0px;
        }
        .btn-default:hover{
            background-color: #74cdee;
            border-color: #22a9d8;
            color: #fff;
        }
        .active{
            background-color: #74cdee;
            border-color: #22a9d8;
            color: #fff;
        }
    }
    .summary{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }
    .total{
        display: block;
        text-align: center;
        .amt{
            font-size: 2rem;
            color:#164496;
        }
        .text{
            font-size: 1.2rem;
        }
    }
    .inoive-buttons{
        display: flex;
        justify-content: center;
        // margin: 2rem 0;
        button{
            background: #7ac033;
            border: 0;
            padding: 10px 20px;
            font-size: 1.3rem; 
            color: #fff;
            margin: 15px;  
        }
    } 
}

@media only screen and (max-width: 600px) {
    .invoice{
        .range-wrapper{
            margin: 1rem 0;
            button{
                padding: 5px 4px;
                font-size: .7rem;   
            }
        }
        .summary{
            margin: 0;
        }
        .total{
            .amt{
                font-size: 1.2rem;
            }
            .text{
                font-size: .8rem;
            }
        }
        .inoive-buttons{
            button{
                padding: 5px 10px;
                font-size: .7rem;   
            }
        }
    }
}
