.settings{
    .tabs-data{
        // display: flex;
        // justify-content: center;
    }
    .billing{
        .button-wrapper{
            margin: 10px  0;
            button{
                background: gray;
                width: 100%;
                padding: 13px;
                font-size: 1.2rem;
                color: #fff;
            }
        }
        .content{
            text-align: center;
        }
    }
}

.expendable-box{
    border: 1px solid gray;
    border-radius: 5px;
    .header{
        background: #b0adad;
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
        padding: 15px; 
        display: block;
        cursor: pointer;
    }
    .content{
        height: 0;
        overflow: hidden;
        background: #fff;
        padding: 15px;
    }
    &.expanded{
        .content{
            height: auto;
        }
    }
}