.settings{
    .tabs-data{
        // display: flex;
        // justify-content: center;
    }
    .desc{
        color: gray;
    }
    .billing{
        .button-wrapper{
            margin: 10px  0;
            button{
                background: gray;
                width: 100%;
                padding: 13px;
                font-size: 1.2rem;
                color: #fff;
            }
        }
        .content{
            text-align: center;
        }
    }
    .deposits{
        
    }
    .clinic-setting{
        padding: 10px;
        .manage-template{
            text-align: center;
            button{
                background: #dad2d2;
                border: 1px solid;
                padding: 7px 30px;
            }
        }
    }
    .payment-reminder{
        .form{
            .form-field{
                // width: 100%;
                // max-width: 400px;
                // margin: 20px auto;
            }
            .field-label{
                width: 40%;
                float: left;
            }
            .input-field{
                width: 60%;
                float: left;
            }
        }
    }
}

.expendable-box{
    border: 1px solid gray;
    border-radius: 5px;
    .header{
        background: #b0adad;
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
        padding: 15px; 
        display: block;
        cursor: pointer;
    }
    .content{
        height: 0;
        overflow: hidden;
        background: #fff;
        transition: height 1s;
    }
    &.expanded{
        .content{
            height: auto;
            padding: 10px;
            transition: height 1s;
        }
    }
}