.user-account{
    .form{
        border: 1px solid rgba(128, 128, 128, 0.34);
        padding: 30px;
        border-radius: 7px;
        padding-top: 0;
        text-align: center;
    }
    .form-field{
        font-size: 1.3rem;
        font-weight: 400;
        margin: 15px 0;
    }
    hr{
        border-color: rgba(128, 128, 128, 0.34);;
        margin: 40px 0;
        width: 100%;
        float: left;
    }
    .part-3{
        .form-field{
            width: 33.33%;
            padding: 0 15px;
            float: left;
        }
    }
    .submit-button{
        button{
            width: 100%;
            background: #007bff;
            font-size: 2rem;
            color: #fff;
            margin: 10px;
        }
    }
}