@import './variables.scss';


html, body {
  margin: 0 auto;
  padding: 0px;
  font-family: $font-family;
  font-size: $size-rem-1;
  font-weight: 500;
  // background:$page-background-color;
}

.app{
  // display: flex;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  // position: relative;
}
.main-page{
  height: 100vh;
  margin-left: $sidebar-full-width;
}

.header-wrapper{
  padding: 10px;
}
.page-body-wrapper{
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}
.collapsed{
  .main-page{
    margin-left: $sidebar-small-width;
  }
}
.page-title{
  color: $page-title-color;
}
.dot{
  height: 10px;
  width: 10px;
  padding: 0px !important;
  border-radius: 50%;
  display: inline-block;
  &.Pending{
    background: yellow;
  }
  &.New{
    background: blue;
  }
  &.Approved{
    background: green;
  }
  &.Canceled{
    background: red;
  }
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.link{
  cursor: pointer;
}
.paginat{
  text-align: right;
}
.j-c-s-b{
  justify-content: space-between;
}
.loading{
  text-align: center;
  font-size: 1.5rem;
  color: gray;
  padding: 1rem;
}
// .nav-tabs {
//   border-bottom: 1px solid #fff;
// }
h1{
  font-size: 2rem;
  margin: 15px 0;
}

@media only screen and (max-width: 900px) {
  .main-page{
    margin-left: $sidebar-small-width;
  }
}
@media only screen and (max-width: 600px) {
  .main-page{
    margin-left: $sidebar-x-small-width;
  }
  h1{
    font-size: 1.5rem;
    margin: 10px 0;
  }
}