@import './variables.scss';


html, body {
  margin: 0 auto;
  padding: 0px;
  font-family: $font-family;
  font-size: $size-rem-1;
  font-weight: 500;
  background:$page-background-color;
}

.app{
  // display: flex;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  // position: relative;
}
.main-page{
  height: 100vh;
  margin-left: 240px;
}

.header-wrapper{
  padding: 10px;
}
.page-body-wrapper{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.collapsed{
  .main-page{
    margin-left: 72px;
  }
}
.page-title{
  color: $page-title-color;
}
.dot{
  height: 10px;
  width: 10px;
  padding: 0px !important;
  background: red;
  border-radius: 50%;
  display: inline-block;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.link{
  cursor: pointer;
}
.paginat{
  text-align: right;
}
.j-c-s-b{
  justify-content: space-between;
}