.table-wrapper{
    display: block;
    .col-checkbox{
        padding: 17px 7px;
        justify-content: center;
        height: 100%;
        align-items: center;
        display: flex;
    }
    .detail-page-link{
        color: gray;
        float: right;
        cursor: pointer;
        padding: 20px 10px;
        background: #d7dbde;
        height: 100%;   
        border-left: 1px solid gray;  
        align-items: center;
        display: flex;       
    }
}
.table-header{
    display: flex;
    justify-content: space-between;
    color: gray;
    .col-checkbox, .detail-page-link{
        opacity: 0;
    }
    .headers{
        flex-basis: 100%;
        display: flex;
    }
    .cell{
        display: flex;
        flex-basis: 100%;
        align-items: center;
        font-size: 1.2rem;
        span{
            padding: 0 5px;
            cursor: pointer;
        }
    }
}
.table-body{
    overflow-y: hidden;
    .card{
        align-items: start;
        justify-content: space-between;
        background: #e0eff7;
        margin: 1.5% 0;
        border-radius: 3px;
        display: flex;
        overflow: hidden;
        transition: height .5s;
        .row-content{
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .cell{
            display: flex;
            flex-basis: 100%;
            align-items: center;
            flex-wrap: wrap;
            font-size: .8rem;
            span{
                padding: 0 3px;
            }
        }
        .parant{
            display: flex;
            padding: 10px 0;
        }
        .family{
            display: flex;
            overflow: hidden;
            padding: 10px 0;
            .member{
                margin: 10px 0;
            }
        }
        .checkbox-wrapper{ 
            display: block;
            opacity: 0; 
            padding: 0px;

        }
        .col-name{
            .profile-image{
                font-size: 1rem;
            }
            .lastname{
                font-size: .9rem;
            }
            .firstname{
                font-size: .7rem;
            }
        }
        .col-amount{
            .doller{
                font-size: .9rem;
            }
            .cent{
                font-size: .7rem;
            }
            span{
                padding: 0px;
            }
        }
        .col-status{
            .status{
                flex-basis: 100%;
                font-weight: 600;
                &.paid{
                    color: green;
                }
                &.unpaid{
                    color: red;
                }
                &.invoiced{
                    color: orange;
                }
            }
            .date{
                flex-basis: 100%;
            }
        }
        &:hover{
            background: #bee2f5;
            .checkbox-wrapper{
                opacity: 1;
            }
        }
        &.selected{
            background: rgba(41, 150, 208, 0.52);
            .checkbox-wrapper{
                opacity: 1;
            }
            .detail-page-link{
                border-color: #22a5ea;
                background: rgba(169, 191, 203, 0.55);
            }
        }
    }
}

.flex-end{
    justify-content: flex-end;
}

.come-in {
    transform: translateY(50px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }

@media only screen and (max-width: 1100px) {
    .table-header{
        .cell{
            font-size: 1rem;
            span{
                padding: 5px;
            }
        }
    }
    .table-body{
        .card{
            .cell{
                font-size: .7rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .table-header{
        .cell{
            font-size: .8rem;
        }
    }
    .table-body{
        .card{
            margin: 0;
            border-radius: 0;
            border-bottom: 1px solid gray;
            .col-name{
                .profile-image{
                    display: none;
                }
            }
        }
    }
}