.table-wrapper{
    display: block;
    overflow: auto;
}
.content-header{
    display: flex;
    justify-content: space-between;
    color: gray;
    min-width: 600px;
    .cell{
        display: flex;
        flex-basis: 100%;
        align-items: center;
        font-size: 1.3rem;
        span{
            padding: 0 5px;
            cursor: pointer;
        }
    }
}
.content-body{
    overflow: hidden;
    .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 10px;
        // background:#fff;
        background: #e0eff7;
        margin: 30px 0;
        border-radius: 3px;
        min-width: 600px;
        .checkbox-wrapper{
            display: none;  
        }
        &:hover{
            background: #bee2f5;
            .checkbox-wrapper{
                display: block;
            }
        }
        &.selected{
            background: #2996d0;
        }
        .cell{
            display: flex;
            flex-basis: 100%;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1rem;
            span{
                padding: 0 5px;
            }
        }
    }
}

.flex-end{
    justify-content: flex-end;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }

@media only screen and (max-width: 1100px) {
    .content-header{
        .cell{
            font-size: 1rem;
            span{
                padding: 5px;
            }
        }
    }
    .content-body{
        .card{
            padding: 10px;
            margin: 1rem 0;
            .cell{
                font-size: .7rem;
            }
        }
    }
}