.sidebar-wrapper{
    display: flex;
    position: fixed;
    left: 0;
    z-index: 1111;
}
.sidebar{
    background: $sidebar-bg;
    float: left;
    height: 100vh;
    width: 187px;
    max-width: $sidebar-full-width;
    min-width: $sidebar-full-width;
    transition: width 1s  max-width 1s  min-width 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo-wrapper{
        display: flex;
        text-align: center;
        height: 120px;
        width: 120px;
        margin: 15px auto;
        border-radius: 50%;
        border: 5px solid #089ad5;
        overflow: hidden;
        background: #fff;
        margin-bottom: 7px;
        img{
            width: 100%;
            margin: auto;
        }
    }
    .connection{
        display: block;
        text-align: center;
        color: #fff;
        font-size: 0.8rem;
        .icon-wrapper{
            display: none;
        }
        .profile-text{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .status{
            color: #2dcc71;
            padding-right: 5px;
            .text{
                font-weight: 600;
            }
            .icon{
                width: 35px;
                img{
                    width: 100%;
                }
            }
        }
        i{
            padding-left: 10px;
        }
    }
    .content-wrapper{
        padding: 0 10px;
        text-align: center;
        height: 100%;
    }
    .menu-bottom{
        padding: 0px 10px;
    }
    .menu-item{
        color: $white;
        display: flex;
        align-items: center;
        margin: 1rem 0;
        cursor:pointer;
        border-radius: 40px;
        padding: 5px 10px;
        &.active{
            background: rgba(190, 236, 254, 0.58);
        }
        .icon{
            display: inline-block;
            font-size: 1.7rem;
            text-align: center;
            width: 34px;
        }
        .label{
            display: inline-block;
            font-size: 1.1rem;
        }
    }
}
.collapsed{
    .sidebar{
        max-width: $sidebar-small-width;
        min-width: $sidebar-small-width;
        .menu-item{
            display: block;
            .icon{
                
            }
            .label{
                display: none;
            }
        }
        .logo-wrapper{
            height: 55px;
            width: 55px;
            margin: 10px auto;
        }
        .connection{
            .full-width{
                display: none;
            }
            .icon-wrapper{
                display: block;
            }
        }
        
    }
}
.resize-btn{
    height: 100vh;
    width: 16px;
    display: block;
    float: left;
    cursor: ew-resize;
    &::before{
        content: "";
        height: 100%;
        position: absolute;
        width: 2px;
        transition: background-color 300ms ease-in-out 200ms;
    }
    &:hover::before{
        background: rgb(76, 154, 255);
    }
    .expand-btn{
        position: absolute;
        top: 50vh;
        color: #27acd9;
        opacity: 0;
        padding: 5px 8px;
        border-radius: 13px;
        transition: box-shadow .3s, opacity .3s;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 0px 3px 1px;
        }
    }
    &:hover{
        .expand-btn{
            opacity: 1;
            transition: opacity 300ms ease-in-out 200ms;
        }
    }
}

@media only screen and (max-width: 900px) {
    .collapsed .sidebar, .sidebar{
        max-width: $sidebar-small-width;
        min-width: $sidebar-small-width;
        .menu-item{
            display: block;
            .icon{
                width: auto;
            }
            .label{
                display: none;
            }
        }
        .logo-wrapper{
            height: 55px;
            width: 55px;
            margin: 10px auto;
        }
        .connection{
            .full-width{
                display: none;
            }
            .icon-wrapper{
                display: block;
            }
        }
    }
    .resize-btn{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .collapsed .sidebar, .sidebar{
        max-width: $sidebar-x-small-width;
        min-width: $sidebar-x-small-width;
        .content-wrapper{
            padding: 0px;
        }
        .menu-item{
            margin: .5rem 0;
            .icon{
                font-size: 1rem;
            }
        }
        .menu-bottom{
            .menu-item{
                padding: 0px;
            }
        }
        .logo-wrapper{
            height: 40px;
            width: 40px;
            margin: 10px auto;
        }
        .connection{
            .icon{
                width: 27px;
            }
        }
    }
    .resize-btn{
        display: none;
    }
}

