.f-5{
    flex-basis: 5% !important;                    
  }
  .f-10{
    flex-basis: 10% !important;                    
  }
  .f-15{
    flex-basis: 15% !important;                    
  }
  .f-20{
    flex-basis: 20% !important;                    
  }
  .f-25{
    flex-basis: 25% !important;                    
  }
  .f-30{
    flex-basis: 30% !important;                    
  }
  .f-40{
    flex-basis: 40% !important;                    
  }
  .f-50{
    flex-basis: 50% !important;                    
  }
  .f-60{
    flex-basis: 60% !important;                    
  }
  .f-70{
    flex-basis: 70% !important;                    
  }
  .f-80{
    flex-basis: 80% !important;                    
  }
  .f-90{
    flex-basis: 90% !important;                    
  }
  .f-100{
    flex-basis: 100% !important;                    
  }
  .f-100{
    display: flex;
    flex-basis: 100% !important;                    
  }
  .f-2-rem{
    flex-basis: 2rem !important;                    
  }
  
  .f-100{
    display: flex;
    flex-basis: 100% !important;                    
  }

  .w-2-rem{
    min-width: 2rem;
  }
 
